footer {
    width: 100%;

    background-color: #144e94;
    color: white;

    position: absolute;
    bottom: 0;
}

footer .footer-text {
    margin: 1rem auto;

    text-align: center;

    font-weight: 200;
    font-size: 0.9rem;
}