@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");

:root {
  --bg: #021518;
  --bg2: #010f11;
  --fg: #ffffff;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  margin-top: 2.5em;
  padding: 1em 2em;
  border: 1px solid var(--fg);
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
}

.fixed-width {
  max-width: 1120px;
}

.container {
  margin: 3rem auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
  text-align: justify;
}

body {
  font-family: "Chakra Petch", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg);
  color: var(--fg);
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background-image: url("../img/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  background-position: center;
}

header .hero-title {
  text-align: center;
}

header h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  margin-bottom: 0;
}

header h2 {
  font-size: 2em;
  font-weight: 500;
}

#background-video {
  object-fit: cover;
  width: 50%;
  height: auto;
}

.nav-container {
  width: 100%;

  padding: 1rem 0;

  position: fixed;
  top: 0;

  z-index: 1;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 95%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
  transition: top 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  color: var(--fg);

  margin: 0 auto;
}

nav img {
  width: 45px;
  height: auto;
}

nav ul {
  list-style: none;

  display: flex;
  gap: 1rem;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2em;

  margin: 8em 4em;

  text-align: center;
}

.about-us .about-us-text {
  max-width: 876px;
}

.cards {
  display: flex;
  flex-flow: column wrap;
  gap: 4.5em;
}

.img-card-hoz {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 2.5em;
}

.img-card-hoz img {
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
}

.img-card-hoz .card-text {
  flex: 1;
}

.img-card-hoz .card-text p {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.img-card-hoz .contact-us {
  background-color: var(--fg);
  color: var(--bg);
}

.img-card-hoz .card-btns {
  display: flex;
  gap: 1.2em;
}

.img-card-hoz button {
  font-size: 0.85em;

  transition: background-color 0.2s;
}

.img-card-hoz button:hover,
.services-btns button:hover {
  background-color: var(--bg2);
  color: var(--fg);
}

.comsim img {
  order: 2;
}

.services {
  padding: 0 2em 4em;
}

.services-btns {
  text-align: center;
}

.services-btns button {
  background-color: var(--fg);
  color: var(--bg);
  font-weight: bold;
  padding: 1em 4em;
  margin-top: 0;

  transition: color 0.2s, background-color 0.2s;
}

footer {
  width: 100%;
  background-color: var(--bg2);
}

footer .footer-text {
  margin: 1rem auto;
}

footer p {
  font-weight: 200;
  font-size: 0.9rem;
  text-align: center;
}