@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

    box-sizing: border-box;
}

ul {
    margin-bottom: 1rem;
}

li {
    margin-left: 2.5rem;
}

.people {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    margin: 2rem;
}

.box {
    display: flex;
    gap: 3rem;

    padding: 1.5rem 2.5rem;

    width: 70%;
}

.box img {
    object-fit: cover;
    width: 100%;
    max-width: 200px;
    height: 200px;
}

.box .names {
    flex: 1;
    text-align: center;
    margin: auto 0;
}

.box div {
    flex: 2;
}